<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body style="background-color: darkolivegreen">
<h1>Bienvenue sur le profile</h1>
<div>
    <form>
        <div>
        <label>nom</label>
        <input>
        </div>
        <div>
            <label>prenom</label>
            <input>
        </div>
        <div>
            <label>mot de passe</label>
            <input>
        </div>
        <button>Valider</button>
    </form>
</div>
</body>
</html>